<html>
<head></head>
<body>

<h2>Subscribe to Flight Updates</h2>

<form action="#" th:action="@{/flight-subscription}" method="post">
    <p><label for="passenger_id">Passenger Name</label> <select id="passenger_id" name="passenger_id">
        <option th:each="passenger : ${passengers}" th:text="${passenger.name}" th:value="${passenger.id}"></option>
    </select></p>
    <p><label for="flight_number">Flight Number</label> <input id="flight_number" name="flight_number" /></p>
    <p><label for="date">Date</label> <input id="date" name="date"/></p>
    <p><button>Submit</button></p>
</form>

</body>
</html>